
#about {
  padding-top: 50px;
  @include transition-property(background-color);
  @include transition-timing-function(ease-out);
  @include transition-duration(300ms);
  &.invisible {
    background-color: #bdbdbd;
  }
  &.after {
    visibility: hidden;
  }
}

#about-faraway {
  .parallax-background {
    @include filter(blur(10px));
  }
  text-align: right;
  img {
    width: 120%;
    height: 100%;
  }
}