#contact {
  padding-top: 20px;
  @include transition-property(background-color);
  @include transition-timing-function(ease-out);
  @include transition-duration(300ms);
  &.invisible {
    background-color: #dce775;
  }
  &.after {
    visibility: hidden;
  }
}

#contact-faraway {
  text-align: right;
  img {
    width: 120%;
    height: 100%;
  }
}