#contact {
  padding-top: 350px;
  background: {
    image: image-url('images/autumn.jpg');
    size: cover;
    repeat: no-repeat;
  }
  .meta-container {
    background: #fff;
    padding-top: 25px;
  }
}
