@import url(http://fonts.googleapis.com/css?family=Lobster);
#index {
  padding-top: 75px;
  .cover-width {
    width: 100%;
    height: 100%;
  }
  
  
  background: {
    image: image-url('images/winter.jpg');
  }
  .index-nav-header {
    margin-bottom: 15px;
  }

  .highlights {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .parallax-art {
    background: {
      image: image-url('images/placeholder-border.png');
      size: contain;
    } 
    height: 125px;
  }
  
  .site-title {
    text-align: center;
  }
  .brand-logo {
    margin-left: 20px;
  }
  &.after {
    visibility: hidden;
  }
}

#index-faraway {
  .parallax-background {
    @include filter(grayscale(25%) contrast(75%));
    @include opacity(0.6);
  }
}

#index-back {
  margin-top: 25px;
  .site-logo {
    font-size: 2rem;
  }
  .centered {
    text-align: center;
  }
}